{% extends '/admin/base.html' %}

{% block title %}Admin | AddAdmin{% endblock title %}

{% block content %}

<div class="container-fluid">
    <div class="container-fluid">
        <h1>Registro de administradores</h1>
        
    </div>
    <div class="container-fluid pt-3">
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Usuario</th>
                    <th>Correo</th>
                    <th>Contraseña</th>
                    <th>Salt</th>

                </tr>
            </thead>
            <tbody>
                {% for element in AddAdminList %}
                <tr>
                    <td>{{ element["id"] }}</td>
                    <td>{{ element["user_name"] }}</td>
                    <td>{{ element["user_email"] }}</td>
                    <td>{{ element["password"] }}</td>
                    <td>{{ element["salt"] }}</td>
                    <td>
                        <div class="row">
                            <div class="col-sm-2">
                                <a class="btn btn-success"
                                    href="{{ url_for('addAdminForm', type='update') }}&id={{ element['id'] }}">update</a>
                            </div>
                            <div class="col-sm-2">
                                <form action="{{ url_for('addAdminDELETE') }}" method="post">
                                    <input type="hidden" name="id" id="id" value="{{ element['id'] }}">
                                    <input type="submit" class="btn btn-danger" value="Delete">
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

