{% extends '/admin/base.html' %}

{% block title %}Admin | Citas{% endblock title %}

{% block content %}

<div class="container-fluid">
    <div class="container-fluid title-heading">
        <div class="container-h1"><div class="container-h1-h1"><h1>Registro&#160de&#160citas</h1></div></div>  
    </div>

    <div class="holder container-fluid pt-3">
        <table class="table table-bordered table-hover" style="background-color: white;">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Usuario</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th>Motivo</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Estado</th>
                    <th>Acciones</th>

                </tr>
            </thead>
            <tbody>
                {% for element in citaList %}
                <tr>
                    <td>{{ element["id"] }}</td>
                    <td class="col-sm-1">{{ element["user"] }}</td>
                    <td class="col-sm-1">{{ element["nombre"] }}</td>
                    <td class="col-sm-1">{{ element["apellido"] }}</td>
                    <td class="col-sm-2">{{ element["correo"] }}</td>
                    <td>{{ element["telefono"] }}</td>
                    <td class="col-sm-2">{{ element["motivo"] }}</td>
                    <td class="col-sm-1">{{ element["fecha"] }}</td>
                    <td>{{ element["hora"] }}</td>
                    <th> {{ element["estado"] }}</td>
                    <td>
                        <div class="row">
                            <div class="col-sm-6">
                                <a class="btn btn-success"
                                    href="{{ url_for('citasForm', type='update') }}&id={{ element['id'] }}">Update</a>
                            </div>
                            <div class="col-sm-6">
                                <form action="{{ url_for('citasDELETE') }}" method="post">
                                    <input type="hidden" name="id" id="id" value="{{ element['id'] }}">
                                    <input type="submit" class="btn btn-danger" value="Delete">
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

