{% extends '/admin/base.html' %}

{% if tratamientoObj %}

{% set type = 'update' %}
{% set button = 'Update' %}

{% else %}

{% set type = 'new' %}
{% set button = 'Create' %}

{% endif %}

{% block title %}Tratamiento {{ type }}{% endblock title %}

{% block content %}
<div class="container">
    <div class="title-heading">
        <div class="container-h1"><div class="container-h1-h1"><h1>Tratamiento&#160{{ type }}</h1></div></div>
    </div>
    <div class="holder">
        <form action="{{ url_for('tratamientosForm', type=type) }}" method="post">
            {% if tratamientoObj %}
            <div class="form-group">
                <label for="idshow">id:</label>
                <input type="text" class="form-control" id="idshow" name="idshow" value="{{ tratamientoObj ['id'] }}" readonly>
            </div>
            {% endif %}

            <div class="form-group">
                <label for="description">Nombre de tratamiento:</label>
                <input type="text" class="form-control" id="nombre" name="nombre"
                    placeholder="Ingresar nombre de tratamiento..." value="{% if tratamientoObj %}{{ tratamientoObj['nombre'] }}{% endif %}">
            </div>

            <div class="form-group">
                <label for="value">Descripción:</label>
                <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Ingresa la descripción de tratamiento"
                    value="{% if tratamientoObj %}{{ tratamientoObj['descripcion'] }}{% endif %}">
            </div>

            <div class="form-group">
                <label for="value">Imagen:</label>
                <input type="text" class="form-control" id="imagen" name="imagen" placeholder="Ingrese el link de la imagen"
                    value="{% if tratamientoObj %}{{ tratamientoObj['imagen'] }}{% endif %}">
            </div>


            {% if tratamientoObj %}
            <input type="hidden" name="idshow" id="idshow" value="{{ tratamientoObj['id'] }}">
            {% endif %}

            <input type="submit" class="btn btn-success" value="{{ button }}">
        </form>
    </div>
</div>
{% endblock content %}