{% extends '/logged/base.html' %}

{% block title %}Clidente | Conócenos{% endblock title %}

{% block content %}

    <div class="about-us">
        <div class="title-heading">
            <div class="container-h1"><div class="container-h1-h1"><h1>Quiénes&#160somos</h1></div></div>
        </div>
        <section class="mision-vision-right">
            <div class="mision">
                <div class="container-h2"><h2>Nuestra misión</h2></div>
                <p>Brindar un servicio integral de salud dental a través de servicios odontológicos de alta calidad, ética y
                    vocación, ofreciendo a nuestros clientes precios accesibles, y competitivos. Teniendo una sola base económica
                    que nos permita utilizar los mejores materiales, brindando mayor seguridad y superando las expectativas de
                    nuestros clientes.</p>
            </div>
            <div class="vision">
                <div class="container-h2"><h2>Nuestra visión</h2></div>
                <p>Ser una empresa innovadora, sólidamente constituida y reconocida por su calidad de servicio creciendo a nivel
                    nacional con la mejor tecnología innovando continuamente procesos para brindar los mejores servicios integrales
                    en el cuidado de la salud bucal, ortodoncia e implantología, con el aporte de nuestros colaboradores,
                    garantizamos el bienestar y la satisfacción de nuestros clientes.</p>
            </div>
        </section>
        <div class="valores">
            <div class="container-h2"><h2>Nuestros valores</h2></div>
            <p>Honradez - Amabilidad - Disciplina - Profesionalismo</p>
        </div>
    </div>
    <div class="team">
        <h1>Nuestro equipo</h1>
        <section class="team-right">
            <div class="doctor">
                <img src="/static/images/Dra_Nancy.jpg" alt="Dra.Nancy">
                <h3>Dra. Nancy Beatriz Velásquez Gil</h3>
                <div class="line"></div>
                <p>
                Doctorado en Cirugía Dental de la Universidad Evangélica de El Salvador. Especializada en Rehabilitación Oral. Experiencia Laboral de 3 años.
                </p>
            </div>

            <div class="doctor">
                <img src="/static/images/Dra_Olga.jpg" alt="Dra.Olga">
                <h3>Dra. Olga Vigil de García</h3>
                <div class="line"></div>
                <p>
                Doctorado en Cirugía Dental de la Universidad Evangélica de El Salvador. Especializada en práctica de Cirugía Oral, Rehabilitación Oral, práctica de Implantología (MIS) y práctica de Endodoncia Rotatoria. Experiencia Laboral de 16 años.
                </p>         
            </div>

            <div class="doctor">
                <img src="/static/images/Dra_Guadalupe.jpg" alt="Dra.Guadalupe">
                <h3>Dra. Guiselda Guadalupe Serpas</h3>
                <div class="line"></div>
                <p>
                Doctorado en Cirugía Dental de la Universidad Nueva San Salvador. Especializada en práctica de Cirugía Dental y Rehabilitación Oral. Experiencia Laboral de 16 años.
                </p>
            </div>
        </section>

        <section class="team-right">
            <div class="doctor">
                <img src="/static/images/Dra_Emily.jpg" alt="Dra.Emily">
                <h3>Dra. Emily Aguirre</h3>
                <div class="line"></div>
                <p>
                Doctorado en Cirugía Dental de la Universidad Evangélica de El Salvador. Especializada en práctica de Cirugía Dental. Experiencia Laboral de 6 años.
                </p>
            </div>

            <div class="doctor">
                <img src="/static/images/Dra_Rojas.jpg" alt="Dra.Rojas">
                <h3>Dra. María Eugenia Rojas</h3>
                <div class="line"></div>
                <p>
                    Doctorado en Cirugía Dental en la Universidad Nueva San Salvador. Especializada en práctica de Cirugía Dental, Rehabilitación Oral y participación en Jornadas de Odontología infantil. Actividad Clínica durante 10 Años.
                </p>           
            </div>

            <div class="doctor">
                <img src="/static/images/Dr_Osegueda.jpg" alt="Dr.Osegueda">
                <h3>Dr. Earl Litz Osegueda</h3>
                <div class="line"></div>
                <p>
                    Doctorado en Cirugía Dental de la Universidad de El Salvador. Especializado en Rehabilitación Oral y Cirugía Bucal y Maxilofacial en Hospital Nacional Rosales. Actividad Clínica durante 8 Años.
                </p>
            </div>
        </section>

        <div  class="doctor">
            <img src="/static/images/Dra_Arriaza.jpg" alt="Dra.Arriaza">
            <h3>Dra. Elena Arriaza</h3>
            <div class="line"></div>
            <p>
                Doctorado en cirugía Dental. Ortodoncista y Ortopedista, graduada en Guadalajara Mexico. (Instituto Nacional de Ortodoncia y Ortopedia Maxilar). Miembro de Asociación Iberoamericana de Ortodoncistas. Especializada en práctica clínica en pacientes labio leporino y paladar hendido. Post Grado en Ortodoncia de la Universidad Cruzeiro do Sul (Brazil).
            </p>
        </div>

    </div>

{% endblock content %}