{% extends '/logged/base.html' %}

{% block title %}Clidente | Contacto{% endblock title %}

{% block content %}

    <div class="caja-section">
        <br>
        <section class="caja-contacto">
            <div class="caja-titulo">
                ¿Tienes preguntas? Contáctanos
            </div>
            <div class="caja-campos">
                <form id="form">
                    <div class="caja-inputs">
                        <label for="">Nombre*:</label>
                        <input type="text" name="nombre" id="nombre" class="cajaci-input">
                    </div>
                    <div class="caja-inputs">
                        <label for="">Correo*:</label>
                        <input type="email" name="email" id="email" class="cajaci-input">
                    </div>
                    <div class="caja-inputs">
                        <label for="">Teléfono de contacto*:</label>
                        <input type="tel" name="phone" id="phone" class="cajaci-input">
                    </div>
                    <div class="caja-inputs">
                        <label for="">Mensaje*:</label>
                        <textarea name="message" id="message" class="input" rows="5" cols="33"></textarea>
                    </div>
                    <div class="caja-boton">
                        <button type="button" onclick="sendMail()" class="caja-boton-css">Enviar</button>
                    </div>
                </form>
            </div>
        </section>
        <br>
        <br>
        </section>

{% endblock content %}