{% extends '/logged/base.html' %}

{% block title %}Cambio Contraseña{{ type }}{% endblock title %}

{% block content %}



{% with messages = get_flashed_messages() %}

    {% if messages %}

    {% for message in messages %}

    <div class="alert alert-info alert-dismissible" style="position:absolute; top:70px; right:10px; font-size:20px;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" style="margin-top:6px;">&times;</a>  
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>  
        <strong>Info!</strong> {{ message }}   
    </div>

    {% endfor %}

    {% endif %}

    {% endwith %}


<div class="container">
    <div class="title-heading">
        <div class="container-h1"><div class="container-h1-h1"><h1>Cambiar&#160Contraseña{{ type }}</h1></div></div>
    </div>
    
    <div class="holder">
        <form action="{{ url_for('contraForm', type=type) }}" method="post">

            <div class="form-group">
                <label for="description">Nombre de Usuario</label>
                <input type="text" class="form-control" id="user_name" name="user_name"
                    placeholder="Ingresar el usuario" value= "{{ session["login_user"] }}" readonly >
            </div>

            <div class="form-group">
                <label for="value">Escriba su contraseña actual</label>
                <input type="password" class="form-control" id="contrasenaVieja" name="contrasenaVieja" placeholder="Ingresa el contraseña actual">
            </div>

            <div class="form-group">
                <label for="value">Escriba su nueva contraseña:</label>
                <input type="password" class="form-control" id="contrasenaNueva" name="contrasenaNueva" placeholder="Ingrese la contraseña nueva">
            </div>
            
            <div class="form-group">
                <label for="value">Verifique su contraseña:</label>
                <input type="password" class="form-control" id="confirmarContra" name="confirmarContra" placeholder="Ingrese la verificacion de contraseña nueva">
            </div>

            <input type="submit" class="btn btn-success" value="Update">
        </form>
    </div>
</div>
{% endblock content %}