{% extends '/logged/base.html' %}

{% block title %}Inicio{% endblock title %}

{% block content %}

    <div class="inicio">
        <div class="main-picture" id="main-picture">
            <img src="/static/images/main1.jpg" alt="Dientes sanos">
        </div>
    </div>
    <div class="promos">
        <div class="inicio-promos" style="border:thin">
            <div class="container-h2"><h2>¡Disfruta de nuestra promoción del mes!</h2></div>
            <section class="promociones-right">
                <div class="promociones-img">
                    <img src="/static/images/promo1.jpg" alt="Promoción 2x1">
                </div>
                <div class="facebook-plugin">
                    <p>También puedes visitar nuestra página de facebook para estar enterado de todas nuestras promociones y más</p>
                    <div class="line"></div>
                    <iframe
                        src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fclinicadentalclidente%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId">
                    </iframe>
                </div>
            </section>           
        </div>
    </div>
    <div class="location">
        <div class="location-plugin" id="location-plugin">
            <div class="location-plugin-text">
                <div class="container-h2"><h2>Nuestra ubicación</h2></div>
                <p>Visita nuestras instalaciones en 2da Calle Pte. y 2da av. Sur Centro
                    Comercial Portal Plaza nº 21. Segunda planta. Santa Tecla, El Salvador</p>
            </div>
            <div class="location-plugin-frame">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3876.7476748533013!2d-89.2911366858578!3d13.673101202797827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f632ef96ecb52d1%3A0xe9138ae23be67ed4!2sClinica%20Dental%20Clidente!5e0!3m2!1ses-419!2ssv!4v1617069956097!5m2!1ses-419!2ssv"
                    allowfullscreen="">
                </iframe>
            </div>
        </div>
    </div>

{% endblock content %}
