
{% extends '/logged/base.html' %}

{% block title %}Clidente | Pago{% endblock title %}

{% block content %}


<div class="holder container">
    <div class="title-heading">
        <div class="container-h1"><div class="container-h1-h1"><h1>Información&#160de&#160pago</h1></div></div>
    </div>
    <form action="{{ url_for('pago', type=type) }}" method="post">

        <div class="container-h2"><h2>Información sobre su cita</h2></div>
        <div class="form-group">
            <label for="value">Usuario:</label>
            <input type="text" class="form-control" id="user" name="user" value= "{{ citaDic["user"] }}" readonly>
        </div>
        
        <div class="form-group">
            <label for="value">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" value= "{{ citaDic["nombre"] }}" readonly>
        </div>

        <div class="form-group">
            <label for="value">Apellido:</label>
            <input type="text" class="form-control" id="apellido" name="apellido" value=  "{{ citaDic['apellido'] }}" readonly>
        </div>

        <div class="form-group">
            <label for="value">Correo:</label>
            <input type="text" class="form-control" id="correo" name="correo" value= "{{ citaDic['correo'] }}" readonly>
        </div>

        <div class="form-group">
            <label for="value">Teléfono:</label>
            <input type="text" class="form-control" id="telefono" name="telefono" value= "{{ citaDic['telefono'] }}" readonly>
        </div>

        <div class="form-group">
            <label for="value">Motivo:</label>
            <input type="text" class="form-control" id="motivo" name="motivo" value= "{{ citaDic['motivo'] }}" readonly>
        </div>

        <div class="form-group">
            <label for="value">Fecha:</label>
            <input type="text" class="form-control" id="fecha" name="fecha" value= "{{ citaDic['fecha'] }}" readonly>
        </div>

        <div class="form-group">
            <label for="value">Hora:</label>
            <input type="text" class="form-control" id="hora" name="hora" value= "{{ citaDic['hora'] }}" readonly>
        </div>
        <br>
        <div>
        <h5 style="font-size: 200%; text-align:center">Costo de la cita: $10.00</h5>
        <div class="line"></div>
        </div>
        <br>
        <div class="container-h2"><h2>Ingrese la información de su tarjeta de crédito</h2></div>
        <div class="form-group">
            <label for="value">Ingrese el número de su tarjeta de crédito:</label>
            <input type="text" class="form-control" id="tarjeta" name="tarjeta" placeholder="Ingrese el número de su tarjeta de crédito">
        </div>
        
        <div class="form-group">
            <label for="value">Ingrese el código de seguridad:</label>
            <input type="text" class="form-control" id="codigo" name="codigo" placeholder="Ingrese el código de seguridad">
        </div>

        <div class="form-group">
            <label for="value">Ingrese la fecha de vencimiento:</label>
            <input type="text" class="form-control" id="vencimiento" name="vencimiento" placeholder="MM/YY">
        </div>

        <div class="form-group">
            <label for="value">Ingrese el nombre que aparece en la tarjeta de crédito:</label>
            <input type="text" class="form-control" id="titular" name="titular" placeholder="Ingrese el nombre que aparece en la tarjeta de crédito">
        </div>
        
        <a class="btn btn-danger" href={{ url_for('cita') }}>Cancelar</a>
        <input type="submit" class="btn btn-success" value="Procesar el pago">
    </form>
</div>
<script src="/static/script.js" defer></script>

{% endblock content %}