<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clidente | Pago</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js" defer></script>
</head>

<body>
    <nav class="cabecera">
        <div class="empresa">Clidente</div>
        <a href="#" class="menu-desplegable">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div name="linkers" class="nav">
        <ul>
            <li><a href="{{url_for('dashboard')}}">Inicio</a></li>
            <div class="container" id="login">
                <!--<li><a href="{{url_for('login')}}">Login</a></li>-->
                <!--<li><img src="{{url_for('static', filename='images/unnamed.png')}}" width="40" height="40" alt="">-->
                <li><a onclick="logout()" href="">Logout</a></li>
            </div>
        </ul>
        </div>
    </nav>

    <div class="container">
        <h1>addAdmin {{ type }}</h1>

        <form action="{{ url_for('addAdminForm', type=type) }}" method="post">

            <h2>Información sobre su cita</h2>
            <div class="form-group">
                <label for="value">Usuario:</label>
                <input type="text" class="form-control" id="user" name="user" value={{ citaDic['user'] }} readonly>
            </div>
            
           <div class="form-group">
                <label for="value">Nombre:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" value={{ citaDic['nombre'] }} readonly>
            </div>

           <div class="form-group">
                <label for="value">Apellido:</label>
                <input type="text" class="form-control" id="apellido" name="apellido" value={{ citaDic['apellido'] }} readonly>
            </div>

            <div class="form-group">
                <label for="value">Correo:</label>
                <input type="text" class="form-control" id="correo" name="correo" value={{ citaDic['correo'] }} readonly>
            </div>

           <div class="form-group">
                <label for="value">Teléfono:</label>
                <input type="text" class="form-control" id="telefono" name="telefono" value={{ citaDic['telefono'] }} readonly>
            </div>

           <div class="form-group">
                <label for="value">Motivo:</label>
                <input type="text" class="form-control" id="motivo" name="motivo" value={{ citaDic['motivo'] }} readonly>
            </div>

           <div class="form-group">
                <label for="value">Fecha:</label>
                <input type="text" class="form-control" id="fecha" name="fecha" value={{ citaDic['fecha'] }} readonly>
            </div>

            <div class="form-group">
                <label for="value">Hora:</label>
                <input type="text" class="form-control" id="hora" name="hora" value={{ citaDic['hora'] }} readonly>
            </div>

            <h2>Ingrese la información de su tarjeta de crédito</h2>
            <div class="form-group">
                <label for="value">Ingrese el número de su tarjeta de crédito:</label>
                <input type="text" class="form-control" id="tarjeta" name="tarjeta" placeholder="Ingrese el número de su tarjeta de crédito">
            </div>
            
            <div class="form-group">
                <label for="value">Ingrese el código de seguridad:</label>
                <input type="text" class="form-control" id="codigo" name="codigo" placeholder="Ingrese el código de seguridad">
            </div>

            <div class="form-group">
                <label for="value">Ingrese la fecha de vencimiento:</label>
                <input type="text" class="form-control" id="vencimiento" name="vencimiento" placeholder="MM/YY">
            </div>

            <div class="form-group">
                <label for="value">Ingrese el nombre que aparece en la tarjeta de crédito:</label>
                <input type="text" class="form-control" id="titular" name="titular" placeholder="Ingrese el nombre que aparece en la tarjeta de crédito">
            </div>

            <input type="submit" class="btn btn-success" value="{{ button }}">
        </form>
    </div>
</body>

</html>