<div class="caja-cuenta">
    <div class="caja-titulo">
        Mis citas
    </div>
    <!--
    <label for="number1">number1</label>
    <input type="number" name="number1" id="number1" placeholder="insert number one...">
    <br><br>
    <label for="number2">number2</label>
    <input type="number" name="number2" id="number2" placeholder="insert number two...">
    <br><br>
    <button onclick="add()">add</button>
    <br>
    -->

    
    <div class="tabla tabla-micuenta">
        <table id="userTableClient" border="1">
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Motivo</th>
            </tr>
        </table>
    </div>
</div>