<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/logo.ico" />
</head>

<body>
    <div class="fondo-general">
        <br>
        <div class="caja-body">
            <section>
                <div class="caja">
                    <div class="caja-titulo">
                        Acceder
                    </div>
                    
                    <div class="caja-campos">
                        <div class="caja-inputs">
                            <input type="text" name="user" id="user" placeholder="Usuario..." class ="caja-input">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="caja-inputs">
                            <input type="text" name="passw" id="passw" placeholder="Contraseña..." class ="caja-input">
                            <i class="fas fa-lock"></i>
                        </div>
                        <div class="caja-boton">
                            <button onclick="checkLogin()" class="caja-boton-css">Iniciar sesión</button>
                        </div>
                        <div class = "caja-link">
                            ¿No tienes una cuenta?<br display="none">
                            <a href="{{url_for('register')}}">Regístrate</a>
                        </div>
                        <br>
                        <div class="caja-boton">
                            <button onclick="goToIndex()" class="caja-boton-css">Regresar</button>
                        </div>
                    </div>
                </div>
            </section>
        </div> 
        <br>
    </div>

    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>

</html>